* {
  margin: 5px; padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
  
body {
  margin: 0;
  padding: 0;
}

#waterfall {
  background-image: url('../Photos/Final_Valley1.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header  {
  padding: 0; margin: 0;
}

h1, h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black;
  text-shadow: 1px black;
}

.nav__logo {
  width: 100%;
  text-align: center;
}

.nav__img {
  width: 150px;
  border-radius: 50%;
}

.nav__img:hover {
  box-shadow: 0px 0px rgba(2, 113, 149, 0.5);
}

p {
  padding: 0;
  font-size: 20px;
}

.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}

main {
  padding: 0 15px;
  text-align: center;
  font-size: 21px;
}

q {
  font-style: italic;
}

.image {
  display: flex;
  justify-content: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.columns  {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 5px 0;
}

.column {
  flex: 1;
  border: 1px solid #666;
  text-align: left;
  margin: 2px;
  padding: 10px;
  transition: 0.3s;
  background-color: rgba(244, 244, 179, 0.5);
}

@media only screen and (min-width: 992px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .columns .column {
  flex-basis: 100%;
  margin: 0;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .columns .column {
  flex-basis: 100%;
  margin: 0;
  }

  .responsive-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
}