body {
  background: #f5f5dc;
  text-align: left;
  margin: 20pt;
}

h1 {
  font-size: 30pt;
  text-align: center;
  margin-top: 20pt;
  margin-bottom: 26.667pt;
}

div {
  display: block;
  margin-bottom: 20pt;
}

h2 {
  font-size: 15pt;
  text-align: center;
  margin-top: 15pt;
  margin-bottom: 15pt;
}

.css-properties {
  width: 25%;
  height: 25%;
  border: 2px solid black;
}

.margin-image {
  width: auto;
  height: auto;
  border: 2px solid black;
}

.padding-image {
  width: auto;
  height: auto;
  border: 2px solid black;
}

.border-image {
  width: auto;
  height: auto;
  border: 2px solid black;
}

.image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  font-size: 15pt;
}

.nav__img {
  width: 5rem;
  border-radius: 50%;
  margin-top: -75pt;
  margin-bottom: 5pt;
}