* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  text-decoration: none;
}

body {
  background: #f5f5dc;
  min-height: 100vh;
}

#konoha-village {
  background-image: url('../Photos/Konoha.webp');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.column {
  flex: 1;
  border: 1px solid #666;
  text-align: left;
  margin: 5px 60px;
  padding: 10px;
  transition: 0.3s;
  background-color: rgba(244, 244, 179, 0.5);
}

.columns  {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 5px 0;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  padding: 20px 7%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  width: 300px;
}

.dropdown .dropbtn  {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 300px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 300px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-size: 30pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: auto;
  padding-top: 50px;
  padding-bottom: 15px;
}

h4 {
  font-size: 25pt;
  text-align: center;
  margin: 10px;
  margin-bottom: 10px;
  padding: auto ;
}

.who-am-I {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.profile-image  {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

.who-am-I .profile-image {
  max-width: 40%;
}

p {
  font-size: 15pt;
  margin-bottom: .5em;
  margin-top: .5em;
  text-align: center;
}

/* media query for large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: center; 
    overflow: hidden;
    background-color: #333;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
    width: 300px;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 300px;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn  {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* z-index defines the order of overlapping html elements */
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 300px;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content{
    display: block;
  }
}

/* media query for medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  .dropdown {
    float: none;
    display: block;
  }

  .dropdown .dropbtn  {
    width: 100%;
    text-align: left;
  }

  .dropdown-content {
    position: static;
    display: none;
    max-height: 0;
    overflow: hidden;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    max-height: 200px;
    overflow: auto;
  }

  p {
    font-size: 12pt;
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: center;
  }
} 
  
/* media query for small devices */
@media only screen and (max-width: 767px) {
  h1 {
    padding-top: 25%;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  .dropdown {
    float: none;
    display: block;
  }

  .dropdown .dropbtn  {
    width: 100%;
    text-align: left;
  }

  .dropdown-content {
    position: static;
    display: none;
    max-height: none;
    overflow: hidden;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    max-height: none;
    overflow: hidden;
  }

  p {
    font-size: 10pt;
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: center;
  }
}

.icon {
  display: inline-block;
  font-size: 30px;
  color: #070606;
  text-decoration: none;
  transition: color 0.2s;
  margin: 0 10px;
}

.icon:hover {
  color: #585555;
}